adf4lsd/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf4lsd"
		},
		"LinkService_DataBase_Source_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LinkService_DataBase_Source'"
		},
		"LinkService_Storage_Sink_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LinkService_Storage_Sink'"
		},
		"LinkService_DataBase_Source_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "lsdeh-server.database.windows.net"
		},
		"LinkService_DataBase_Source_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "OrdersDB"
		},
		"LinkService_DataBase_Source_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminfarhan"
		},
		"LinkService_Storage_Sink_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sa4adflsd.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LinkService_DataBase_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LinkService_DataBase_Source_properties_typeProperties_server')]",
					"database": "[parameters('LinkService_DataBase_Source_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LinkService_DataBase_Source_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LinkService_DataBase_Source_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkService_Storage_Sink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LinkService_Storage_Sink_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LinkService_Storage_Sink_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSD-RTI')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataTransformation_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkService_Storage_Sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dbo.Orders.parquet",
						"folderPath": "data",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "order_id",
						"type": "INT32"
					},
					{
						"name": "amount",
						"type": "INT32"
					},
					{
						"name": "event_time",
						"type": "DOUBLE"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkService_Storage_Sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Database_DataSet_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkService_DataBase_Source",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkService_DataBase_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinkToSilver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkService_Storage_Sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "silverdata",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkService_Storage_Sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_Storage_DataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkService_Storage_Sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "data",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkService_Storage_Sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Silver_Clean_Data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DataTransformation_Source",
								"type": "DatasetReference"
							},
							"name": "StorageSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SinkToSilver",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "RemoveNulls"
						},
						{
							"name": "Deduplication"
						},
						{
							"name": "FilteringDuplicates"
						},
						{
							"name": "filter1"
						},
						{
							"name": "SelectColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          order_id as integer,",
						"          amount as integer,",
						"          event_time as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     limit: 100,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> StorageSource",
						"StorageSource filter(!isNull(order_id) && !isNull(amount) && !isNull(event_time)) ~> RemoveNulls",
						"RemoveNulls window(over(order_id),",
						"     desc(event_time, true),",
						"     RowRank = rowNumber()) ~> Deduplication",
						"Deduplication filter(RowRank == 1) ~> FilteringDuplicates",
						"FilteringDuplicates filter(event_time > event_time) ~> filter1",
						"filter1 select(mapColumn(",
						"          Order_ID = order_id,",
						"          Amount = amount,",
						"          Purchase_At = event_time",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumns",
						"SelectColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DataTransformation_Source')]",
				"[concat(variables('factoryId'), '/datasets/SinkToSilver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copydata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "copying from on-prem to sql and then to adls",
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "order_id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "order_id",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "amount",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "event_time",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "event_time",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Database_DataSet_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_Storage_DataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Transforming_Data",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Silver_Clean_Data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StorageSource": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-14T17:02:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Database_DataSet_Source')]",
				"[concat(variables('factoryId'), '/datasets/Sink_Storage_DataSet')]",
				"[concat(variables('factoryId'), '/dataflows/Silver_Clean_Data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "copydata",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2025-11-14T10:28:00",
						"timeZone": "Pakistan Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/copydata')]"
			]
		}
	]
}